<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button text="" icon="close-circle" (click)="leadDetails()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="lead_info">
    <h2>{{data.customer}}</h2>
    <p>{{data.company_name}}</p>
  </div><!-- /lead_info -->
  <div class="ion-padding">
    <div class="action_base">
      <form>
        <ion-item>
          <ion-label position="floating">Lead Status</ion-label>
          <ion-select [(ngModel)]="selectedValue" [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Select status" [ngModelOptions]="{standalone:
   true}">
            <ion-select-option value="Lead">Lead</ion-select-option>
            <ion-select-option value="Open">Open</ion-select-option>
            <ion-select-option value="Replied">Replied</ion-select-option>
            <ion-select-option value="Opportunity">Opportunity</ion-select-option>
            <ion-select-option value="Quotation">Quotation</ion-select-option>
            <ion-select-option value="Lost Quotation">Lost Quotation</ion-select-option>
            <ion-select-option value="Interested">Interested</ion-select-option>
            <ion-select-option value="Converted">Converted</ion-select-option>
            <ion-select-option value="Do Not Contact">Do Not Contact</ion-select-option>
            <ion-select-option value="Follow Up">Follow Up</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="selectedValue == 'Follow Up'">
          <ion-label position="floating">{{data.status}}</ion-label>
          <ion-datetime [(ngModel)]="selectedDate" displayFormat="DD MMM YYYY" min="2020-01" placeholder="Select Date" [ngModelOptions]="{standalone:
   true}"></ion-datetime>
          <ion-icon name="calendar" slot="end"></ion-icon>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating">Notes</ion-label>
          <ion-textarea  [(ngModel)]="selectedNote" placeholder="Start typing..." [ngModelOptions]="{standalone:
   true}"></ion-textarea>
        </ion-item>

        <ion-button expand="block" (click)="saveLog()">Save</ion-button>
        </form>
      </div><!-- /action_base -->
  </div>
</ion-content>
