<ion-content fullscreen>
  <div class="lead_info ion-padding">
    <h2>Hi, <span>Mark Adam</span></h2>
    <p>Select the domain name you want to manage</p>
  </div><!-- /lead_info -->
  <div class="ion-padding">
    <div class="action_base">
      <form>
        <ion-item lines="none">
          <ion-label position="floating">Domain</ion-label>
          <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Select domain">
            <ion-select-option value="f">tektician.com</ion-select-option>
            <ion-select-option value="m">setiaawan.com</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button expand="block" routerLink="/leadllist">Log In</ion-button>
        </form>
      </div><!-- /action_base -->
  </div>
</ion-content>