<ion-content fullscreen>
  <div class="success_accept">
    <div class="action_time">
      <img src="assets/icon/call_done.png">
      <h2>Call Ended</h2>
      <p class="duration"><ion-icon name="time"></ion-icon> Call duration: <span>{{displayLog}}</span></p>
      <div class="ion-padding">
        <div class="action_base">
          <ion-grid>
            <ion-row>
              <ion-col size="6" class="ion-text-left">
                <label>Name:</label>
                <p>{{data.customer}}</p>
              </ion-col>
              <ion-col size="6" class="ion-text-right">
                <label>Project:</label>
                <p>{{data.company_name}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
          <form>
            <ion-item>
              <ion-label position="floating">Lead Status</ion-label>
              <ion-select [(ngModel)]="selectedValue" name="first" [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Select status">
                <ion-select-option value="Lead">Lead</ion-select-option>
                <ion-select-option value="Open">Open</ion-select-option>
                <ion-select-option value="Replied">Replied</ion-select-option>
                <ion-select-option value="Opportunity">Opportunity</ion-select-option>
                <ion-select-option value="Quotation">Quotation</ion-select-option>
                <ion-select-option value="Lost Quotation">Lost Quotation</ion-select-option>
                <ion-select-option value="Intrested">Intrested</ion-select-option>
                <ion-select-option value="Converted">Converted</ion-select-option>
                <ion-select-option value="Do Not Contact">Do Not Contact</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Follow Up</ion-label>
              <ion-datetime [(ngModel)]="selectedDate" name="dateselect" displayFormat="DD MMM YYYY HH:mm" min="2020-01" placeholder="Select Date"></ion-datetime>
              <ion-icon name="calendar" slot="end"></ion-icon>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="floating">Notes</ion-label>
              <ion-textarea [(ngModel)]="selectedNote" name="notes" placeholder="Start typing..."></ion-textarea>
            </ion-item>

            <ion-button color="warning" expand="block" (click) = "sendCallDetails()">Save</ion-button>
            </form>
          </div><!-- /action_base -->
      </div>
    </div><!-- /action_time -->

  </div><!-- /success_accept -->
</ion-content>
