<ion-content fullscreen>
  <div class="success_accept">
    <img src="assets/icon/accept_succes_img.png">
    <h2>Success</h2>
    <p>A lead has been added into your account</p>
    <p>Mark Adam <span>Bandar Baru Setia Awan Perdana</span></p>
    <div class="action_time">
      <h4>Time to Call</h4>
      <p class="immediate">Immediately</p>
      <ion-button expand="block" color="success">Call Now</ion-button>
    </div><!-- /action_time -->
    
  </div><!-- /success_accept -->
</ion-content>
