<ion-content fullscreen>
  <div class="success_accept">
    <img src="assets/icon/accept_succes_img.png">
    <h2>Success</h2>
    <p>A lead has been added into your account</p>
    <div class="action_time">
      <ion-grid>
        <ion-row>
          <ion-col size="6" class="ion-text-left">
            <span><!-- <ion-icon name="person"></ion-icon> -->Name</span>
            Mark Adam B Muhammad Ali
          </ion-col>
          <ion-col size="6" class="ion-text-right">
            <span>Project<!-- <ion-icon name="briefcase"></ion-icon>--></span>
            Bandar Baru Setia Awan Perdana
          </ion-col>
        </ion-row>
      </ion-grid>
      <h4><ion-icon name="time"></ion-icon> Time to Call</h4>
      <p class="immediate">Immediately</p>
      <ion-button expand="block" color="success">Call Now</ion-button>
    </div><!-- /action_time -->
    
  </div><!-- /success_accept -->
</ion-content>
