ion-content {
    --background:url('../../assets/sales_mobile_bg.jpg');
    .success_accept {
        text-align: center;
        background: #fff;
        border-radius: 5px;
        width: 90%;
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 30px auto;
        img {
            display: block;
            width: 40%;
            margin: 0 auto;
        }
        span {
            display:block;
            font-weight: normal;
            font-size:16px;
            margin-bottom: 5px;
        }
        p {
            margin-top:0;
        }
        .action_time {
            padding: 10px 20px 20px 20px;
            background: #F1F1F1;
            border-radius: 5px;
            ion-col {
                font-weight: bold;
                font-size:18px;
                ion-icon {
                    color:#ccc;
                }
            }
            h4 {
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 14px;
                font-weight: normal;
                color:#A2A2A2;
                border-top:1px dotted #ccc;
                margin-top: 10px;
                padding-top:20px;
            }
            p {
                margin: 0 0 20px 0;
                font-size: 1.5rem;
                font-weight: bold;
            }
            .immediate {
                color:#E50000;
                text-transform: uppercase;
            }
            ion-button {
                font-size: 1rem;
            }
        }
    }
}