

<ion-content class="ion-padding">
  <div class="title_header ion-padding">
    <h4>Log In</h4>
    <h2>Sales App</h2>
  </div><!-- /title_header -->
  <div class="login_form ion-padding">
    <form>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input></ion-input>
      <ion-icon name="mail" slot="start"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
      <ion-icon name="lock" slot="start"></ion-icon>
    </ion-item>
    <ion-button routerLink="/leadllist" expand="block">Login</ion-button>
    </form>
  </div><!-- /login_form -->

</ion-content>
