

<ion-content class="ion-padding">
  <div class="title_header ion-padding">
    <img src="/assets/logo_app.png" width="150">
    <!-- <h2>LeadsBoost</h2> -->
  </div><!-- /title_header -->
  <div class="login_form ion-padding">
    <div class="error_box">
      Error message display here
    </div>
    <form>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input></ion-input>
      <ion-icon name="mail" slot="start"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
      <ion-icon name="lock" slot="start"></ion-icon>
    </ion-item>
    <ion-button routerLink="/loginredirect" expand="block">Login <ion-icon name="unlock" slot="end"></ion-icon></ion-button>
    <p routerLink="/forgetpass" class="forget ion-text-center">Forget Password?</p>
    </form>
  </div><!-- /login_form -->

</ion-content>
