<ion-content class="ion-padding">
  <div class="title_header ion-padding">
    <h4>Lead Alert</h4>
  </div><!-- /title_header -->
  <div class="lead_info ion-padding">

    <div class="info_lead">
      <ion-avatar>
        <img class="pulse-slow" src="assets/leads_thumb.png">
      </ion-avatar>
      <div class="pulse"></div>
    </div>
    <div id="countdown">
      <div id="countdown-number">{{timer}}</div>
      <svg>
        <circle #myDiv r="18" cx="20" cy="20"></circle>
      </svg>
    </div>
    <h1>Incoming Lead...</h1>
    <ion-list class="bg-transparent">
      <ion-item-sliding>
        <ion-item lines="none" color="none">
          <ion-label>
             Slide Left to Accept
          </ion-label>
          <ion-icon name="arrow-back" slot="start" (click)="acceptLeads(data)"></ion-icon>

        </ion-item>
        <ion-item-options>
          <ion-item-option (click)="acceptLeads(data)">
            <ion-icon slot="icon-only"  name="checkmark" size="large"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <div class="dnd ion-text-center">
      <ion-icon slot="icon-only" (click)="declineAlertPrompt(data)" name="close-circle-outline" size="large"></ion-icon>
      <small>Do Not Disturb</small>
    </div>

  </div><!-- /login_form -->
  </ion-content>
