<ion-header no-border>
  <ion-toolbar [class.show-background]="showToolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-round-back" defaultHref="/leadllist"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="avatar_lead">
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>
      <div>
        <h2 class="editable_auto" contenteditable="true">Mark Adam</h2>
      </div>
      <p>Bandar Baru Setia Awan Perdana</p>
      <ion-chip color="success">
        <ion-label>Follow Up</ion-label>
      </ion-chip>
    </ion-label>
  </div><!-- /avatar_lead -->
  <div class="active_notice" style="padding: 10px 5px 10px 5px;">
    <ion-icon name="alert" slot="start" style="margin:0px; vertical-align:middle;"></ion-icon>
    <ion-label>
      Lead is still active, please update the status            
    </ion-label>
    <button _ngcontent-aub-c1="" class="button" style="
    color: #ffffff;
    border-radius: 4px;
    background: #0084ff;
    padding: 0.3em 0.5em;
    border: 1px solid #0084ff;
    border-bottom: 0.15em solid #006bcf;
    display: inline-block;
" type="button">Contacted</button>
  </div>
  <div class="section_title">
    <h2>Lead Details</h2>
  </div><!-- /section_title -->
  <div class="details">
    <ion-item lines="none">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>
        <h2>Phone Number</h2>
        <div class="editable" data-leadpro="tel" contenteditable="true">+6017-249 2669</div>
        <!--<p>+6017-249 2669</p>-->
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>
        <h2>Email Address</h2>
        <div class="editable" data-leadpro="email" contenteditable="true">mark.adam@gmail.com</div>
        <!--<p>mark.adam@gmail.com</p>-->
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="disc" slot="start"></ion-icon>
      <ion-label>
        <h2>Lead Source</h2>
        <p>Early Bird Google Ads 1</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>
        <h2>Sales Person</h2>
        <p>Bennie Lee</p>
      </ion-label>
    </ion-item>
    
  </div><!-- /details -->
  
</ion-content>
<ion-footer>
  <div class="footer_cta">
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <ion-list class="bg-transparent">
            <ion-item-sliding>
              <ion-item lines="none" color="none">
                <ion-label>
                   Slide to Call
                </ion-label>
                <ion-icon name="arrow-back" slot="start"></ion-icon>
              </ion-item>
              <ion-item-options>
                <ion-item-option routerLink="/leadacceptsuccess">
                  <ion-icon slot="icon-only"  name="call"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-col>
        <ion-col size="2">
          <div class="circle orange" routerLink="/activitylog" routerDirection="leaddetails">
            <ion-icon name="list"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="2">
          <div class="circle cyan" routerLink="/leadaction" routerDirection="leaddetails">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-footer>
<div class="floating_fixed" style="position:fixed; right:25px; bottom:70px; z-index:10; width:100px; height:50px;">
  <button class="cta-btn" style="margin:0px;" type="button"> Save </button>
</div>