ion-toolbar {
    --background:#233CE1;
    --ion-color-base: transparent !important;
    ion-buttons {
        ion-back-button {
            --icon-font-size:30px;
            --color:#fff;
        }
    }
}
ion-content {
    margin-top:0;
    .avatar_lead {
        background:url('../../assets/sales_mobile_bg.jpg');
        padding-top:10px;
        padding-bottom:30px;
        ion-label {
            text-align: center;
            h2 {
                font-size: 27px;
                color:#fff;
            }
            p {
                font-size: 16px;
                color:#FFE180;
            }
        }
        ion-avatar {
            width: 70px;
            height: 70px;
            display: block;
            margin: 20px auto;
        }
        ion-chip {
            text-transform: uppercase;
            font-size: 11px;
            padding-top:1px !important;
            padding-bottom: 1px !important;
            padding-left:15px;
            padding-right:15px;
            height: 23px;
            background-color: #ECFCF3;
            margin: 10px auto;
            width: 100px;
            text-align: center;
            display: block;
            ion-label {
                line-height: 22px;
            }
        }
    }
    .section_title {
        display:block;
        background-color:#DEE6EE;
        padding: 5px;
        h2 {
            font-size:14px;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            padding-left:20px;
            color: #000;
            font-weight: normal;
            margin-top: 10px;
        }
    }
    .details {
        padding: 20px;
        background: #fff;
        ion-icon {
            font-size: 35px;
            color:#031587;
        }
        ion-item {
            margin-bottom: 5px;
        }
        ion-label {
            h2 {
                font-weight: normal;
                color:#444
            }
            p {
                font-weight: normal;
                color: #000;
                font-size: 18px;
            }
        }
    }
}

ion-footer {
    .footer_cta {
        background-color: #DEE6EE;
        border-top: 1px solid #ccc;
        padding: 0 5px 0 5px;
        ion-icon {
            color:#000;
            font-size: 30px;
            padding: 10px;
        }
        .circle {
            width: 51px;
            height: 51px;
            border-radius: 30px;
            display: block;
            margin: 0 auto;
        }
        .circle.orange {
            background-color:#FEA41B;
            ion-icon {
                color:#fff;
            }
        }
        .circle.cyan {
            background-color:#0090AE;
            ion-icon {
                color:#fff;
            }
        }
        ion-list, .list-md {
            --background:transparent;
            --ion-item-background:transparent;
            --ion-background-color:transparent;
            padding: 0; margin: 0; padding-bottom:5px;
        }
        ion-item {
            padding:0; margin:0;
        }
        ion-item-sliding {
            background: #B6F5BF;
            border-radius: 30px;
            -webkit-box-shadow: -1px 5px 19px -12px rgba(0,0,0,0.32);
            -moz-box-shadow: -1px 5px 19px -12px rgba(0,0,0,0.32);
            box-shadow: -1px 5px 19px -12px rgba(0,0,0,0.32);
            ion-label {
                text-align: center;
                line-height: normal;
                color:#000;
                text-shadow: 1px 0px 0px #FFFFFF;
                font-size: 18px;
                margin-left: -18px;
                font-weight: 300;
            }
            ion-icon {
                padding-right:0; margin-right:0;
                --background: #1A7200;
                --color: #1A7200;
                opacity: 1;
                padding: 0;
            }
            ion-item-option {
                width: 100%;
                --background: #1A7200;
                --color:#fff;
                ion-icon {
                    color:#fff;
                    padding-right: 15px;
                }
            }
        }
    }
    .item-sliding-active-slide {
        ion-label {
            display: none;
        }
    }
}