<ion-header no-border>
  <ion-toolbar [class.show-background]="showToolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-round-back" defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <img class="lock" src="/assets/icon/lock.png" />
  <div class="title_header ion-padding ion-text-center">
    <h2>Forgot Password?</h2>
    <p>Enter the email address associated with your account</p>
  </div><!-- /title_header -->
  <div class="login_form ion-padding">
    <div class="error_box" *ngIf="errors.length">
      <ul>
        <li *ngFor="let error of errors">
          {{error}}
        </li>
      </ul>
    </div>
    <form>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone:
true}" [disabled]="emailDisable"></ion-input>
      <ion-icon name="mail" slot="start"></ion-icon>
    </ion-item>
    <ion-item *ngIf="myinstances.length > 1" style="margin-top:5px;">
      <ion-select [(ngModel)]="selectedInstance" [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Select Instance" [ngModelOptions]="{standalone:
true}">
        <ion-select-option *ngFor="let instance of myinstances" value="{{instance}}">{{instance}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="verifyOTP">
      <ion-label position="floating">SMS Code</ion-label>
      <p class="text-center">A 6-digit code has been sent to <strong>+6017-2492669</strong>. <a href="#">Change</a></p>
      <!-- <ion-input type="number" [(ngModel)]="sms_code" [ngModelOptions]="{standalone:
true}"></ion-input> 
      <ion-icon name="mobile" slot="start"></ion-icon> -->
        <ul>
          <li>The OTP will be expired in 3:00</li>
          <li>Didn't receive the code? <a href="">Resend</a> or <a href="">Send to email</a></li>
        </ul>
    </ion-item>
    <ion-item *ngIf="confirmPws">
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="password" [(ngModel)]="new_password" [ngModelOptions]="{standalone:
true}"></ion-input>
      <ion-icon name="lock" slot="start"></ion-icon>
    </ion-item>
    <ion-item *ngIf="confirmPws">
      <ion-label position="floating">Retype Password</ion-label>
      <ion-input type="password" [(ngModel)]="retype_password" [ngModelOptions]="{standalone:
true}"></ion-input>
      <ion-icon name="lock" slot="start"></ion-icon>
    </ion-item>
    <ion-button color="success" (click)="verifyAction()" expand="block" *ngIf="verifyOTP" [disabled]="verifyDisable">Verify Code</ion-button>
    <ion-button color="warning" (click)="forgotAction()" expand="block" *ngIf="!verifyOTP && !confirmPws">Reset Password</ion-button>
    <ion-button color="warning" (click)="changePwsAction()" expand="block" *ngIf="confirmPws">Update Password</ion-button>
    </form>
  </div><!-- /login_form -->

</ion-content>
