<ion-header no-border>
  <ion-toolbar [class.show-background]="showToolbar">
    <ion-buttons slot="end">
      <ion-back-button text="" icon="close-circle" defaultHref="/leaddetails"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Activity Log
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="ion-padding white_bg">
    <div class="no_lead" *ngIf="!history.length">
      <img src="assets/no-notes.png">
      <h3>Ops! No note yet</h3>
    </div><!-- /no_lead -->
  <div class="heading_log">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="ion-text-start name">
            {{data.customer}}
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="ion-text-end status">
            <ion-chip slot="end" color="tertiary">{{data.status}}</ion-chip>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div><!-- /heading_log -->

  <div class="log_list" *ngIf="nextFollow">
    <ul>
      <li class="odd">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <h3 class="next_follow"> Next Follow Up Date: <span>{{nextFollow}}</span></h3>
              <!--<p class="notes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a feugiat purus. Aenean quis nulla eget mi ultrices aliquet id viverra metus. </p>-->
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>
    </ul>
  </div><!-- /log_list -->

  <div class="heading_log history" *ngIf="history.length">
    <h4>Activity History</h4>
    <div class="history_list">
      <ul>
        <li *ngFor="let activity of history">
          <h5>{{activity.created}}</h5>
          <p class="notes">{{activity.comments}}</p>
        </li>
      </ul>
    </div><!-- /log_list -->
  </div><!-- /heading_log -->

</div>

</ion-content>
