<ion-header no-border>
  <ion-toolbar [class.show-background]="showToolbar">
    <ion-buttons slot="end">
      <ion-back-button text="" icon="close-circle" defaultHref="/leaddetails"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Activity Log
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="ion-padding white_bg">
    <div class="no_lead">
      <img src="assets/icon/no-notes.png">
      <h3>Ops! No note yet</h3>
    </div><!-- /no_lead -->
  <div class="heading_log">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="ion-text-start name">
            Mark Adam
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="ion-text-end status">
            <ion-chip slot="end" color="tertiary">Follow Up</ion-chip>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div><!-- /heading_log -->

  <div class="log_list">
    <ul>
      <li class="odd">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <h3 class="next_follow"> Next Follow Up Date: <span>Tomorrow</span></h3>
              <p class="notes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a feugiat purus. Aenean quis nulla eget mi ultrices aliquet id viverra metus. </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>
    </ul>
  </div><!-- /log_list -->
  
  <div class="filtertools">
    <div class="ftool sortup">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><polyline fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24" points="144 167.994 184 207.994 223.999 168"/><line x1="184" x2="184" y1="111.993" y2="207.993" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"/><line x1="48" x2="119.999" y1="127.994" y2="127.994" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"/><line x1="48" x2="183.999" y1="63.994" y2="63.994" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"/><line x1="48" x2="104" y1="191.994" y2="191.994" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"/></svg>
      
    </div>
    <div class="ftool">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><polyline fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24" points="144 167.994 184 207.994 223.999 168"/><line x1="184" x2="184" y1="111.993" y2="207.993" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"/><line x1="48" x2="119.999" y1="127.994" y2="127.994" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"/><line x1="48" x2="183.999" y1="63.994" y2="63.994" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"/><line x1="48" x2="104" y1="191.994" y2="191.994" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"/></svg>
      
    </div>
  </div>
  
  <div class="heading_log history">
    <h4>Activity History</h4>
    <div class="history_list">
      <ul>
        <li>          
          <ion-chip class="list-stat" slot="end" color="danger">Not Interested</ion-chip>
          <h5>12 June 2020 @ 1:00PM</h5>
          <p class="notes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a feugiat purus. Aenean quis nulla eget mi ultrices aliquet id viverra metus. </p>
        </li>
        <li>
          <ion-chip class="list-stat" slot="end" color="success">Paid Deposit</ion-chip>
          <h5>12 June 2020 @ 1:00PM</h5>
          <p class="notes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a feugiat purus. Aenean quis nulla eget mi ultrices aliquet id viverra metus. </p>
        </li>
        <li>
          <ion-chip class="list-stat" slot="end" color="warning">Call Back</ion-chip>
          <h5>12 June 2020 @ 1:00PM</h5>
          <p class="notes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a feugiat purus. Aenean quis nulla eget mi ultrices aliquet id viverra metus. </p>
        </li>
      </ul>
    </div><!-- /log_list -->
  </div><!-- /heading_log -->

</div>

</ion-content>
