ion-split-pane{ 
    --border: none !important;
    ion-menu{
     --background: #0D167E !important; 
        ion-content{            
            --background: #0D167E !important; 
            .side_profile {
                /* padding-top:80px; */
                /* margin-bottom:50px; */
                h3 {
                    color:#fff;
                }
            }
            ion-list-header{ 
                --background: #0D167E !important;
                --color: #FFFFFF !important;   
            }
            ion-item{
                --background: #0D167E !important;
                 --color: #FFFFFF !important;
                 border:none;
                 ion-icon{ padding-right: 10px !important; }
            }
            ion-icon {
                --background: #fff !important;
            }
            .bottom_menu {
                position: absolute;
                bottom: 50px;
            }
        }
        ion-list {
            background: transparent;
            height: 68%;
        }
    }
}