ion-split-pane{ 
    --border: none !important;
    ion-menu{
     --background: #0D167E !important; 
        ion-content{         
                .online {
                    color: #04db62;
            }
            --background: #0D167E !important; 
            .side_profile {
                padding-top:30px;
                /* margin-bottom:50px; */
                h3 {
                    color:#fff;
                }
            }
            ion-list-header{
                --background: #0D167E !important;
                --color: #FFFFFF !important;
            }
            ion-item{
                --background: #0D167E !important;
                 --color: #FFFFFF !important;
                 border:none;
                 ion-icon{ padding-right: 10px !important; }
            }
            ion-icon {
                --background: #fff !important;
            }
            .bottom_menu {
                position: absolute;
                bottom: 50px;
            }
        }
        ion-list {
            background: transparent;
            height: 68%;
        }
    }
}

.text-success { color: #04db62; }
.text-warning { color: #dbd404; }
.text-disabled { color: #adadad; }

.modalbox{
    position:fixed;
    display:flex;
    width:100%; height:100%;
    background:rgba(0,0,0,0.4);
    //background:none;
    padding:1em;
    opacity:1;
    transition:all ease 3s !important;
    
}
.modalcontent{
    position:relative;
    margin:auto; padding:1em 1.5em;
    //margin-bottom:0px;
    width:100%; max-width:550px;
    height:auto;
    background:#ffffff;
    border-radius:25px 25px;
    box-shadow:0px 0px 55px rgba(0,0,0,0.2);
}
.modal_closer{ position:absolute; right:5px; top:5px; }

/* FORM */
.form_ele_title{padding:0.3em 0em 0.3em 0em;}
.form_ele_subtext{ padding:0em 0em 0.3em 0em;}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    vertical-align:middle;
    zoom:0.8;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }