<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Your Lead(s) List
    </ion-title>
    <p slot="end"><small>{{user.email}}</small></p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" (click)="onClick(data)" *ngFor="let data of leadData">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>
      <h2>{{data.customer}}</h2>
      <p>{{data.company_name}}</p>
    </ion-label>
    <ion-chip slot="end" color="tertiary">Follow Up</ion-chip>
  </ion-item>


</ion-content>
