ion-toolbar {
    --background:url('../../assets/sales_mobile_bg.jpg');
    --color:#fff !important;
    ion-title {
        font-size: 18px;
    }
    small {
        font-size: 14px;
        margin-right: 20px;
    }
}
ion-content {
    --background: #EFF3F8;
    ion-avatar img {
        width: 100% !important;
    }
    ion-item {
        border-radius: 5px;
        padding:10px;
        background: #fff;
        width: 95%;
        display: block;
        margin: 10px auto;
    }
    ion-label {
        h2 {
            font-size: 15px;
        }
        p {
            font-size: 12px;
            white-space: initial;
            line-height: 16px;
        }
    }
    ion-chip {
        text-transform: uppercase;
        font-size: 10px;
        padding-top:1px !important;
        padding-bottom: 1px !important;
        padding-left:15px;
        padding-right:15px;
        height: 23px;
    }
    .refresh {
        text-align: center;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 2px;
        color: #7892c8;
    }
    /* No Lead Style */
    .no_lead {
        text-align: center;
        margin-top:30px;
        color:#6e85b4;
        img {
            display: block;
            margin: 0 auto;
            width: 30%;
        }
    }
}
