
ion-toolbar {
    --background:url('../../assets/sales_mobile_bg.jpg');
    --color:#fff !important;
    ion-title {
        font-size: 18px;
    }
    small {
        font-size: 14px;
        margin-right: 20px;
    }
}
ion-content {
    --background: #EFF3F8;
    ion-avatar img {
        width: 100% !important;
    }
    ion-item {
        border-radius: 5px;
        padding:10px;
        background: #fff;
        width: 95%;
        display: block;
        margin: 10px auto;
    }
    .active {
        border-left:5px solid red;
    }
    .active_note {
        text-align: center;
        // text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 1px;
        color: #7892c8;
        display:block;
        padding-bottom: 10px;
        border-bottom: 1px dashed #c9d2e4;
    }
    .alert_active {
        position: absolute;
        top: -4px;
        right: 28px;
        z-index: 9999;
        ion-chip {
            color: #fff;
            // text-shadow: 0px 0px 4px #EC93A6;
            animation:blinkingText 1.2s infinite;
            border-radius: 3px;
            border:none;
            font-size: 9px;
            height: 18px;
        }
        @keyframes blinkingText{
            0%{     background: #770073;    }
            49%{    background: #770073; }
            60%{    background: transparent; }
            99%{    background:transparent;  }
            100%{   background: #770073;    }
        }
    }
    ion-label {
        h2 {
            font-size: 15px;
        }
        p {
            font-size: 12px;
            white-space: initial;
            line-height: 16px;
        }
    }
    ion-chip {
        text-transform: uppercase;
        font-size: 10px;
        padding-top:1px !important;
        padding-bottom: 1px !important;
        padding-left:15px;
        padding-right:15px;
        height: 23px;
    }
    .refresh {
        text-align: center;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 2px;
        color: #7892c8;
    }
    /* No Lead Style */
    .no_lead {
        text-align: center;
        margin-top:30px;
        color:#6e85b4;
        img {
            display: block;
            margin: 0 auto;
            width: 30%;
        }
    }
    ion-list {
        --background: #EFF3F8;
        padding: 0 !important;
        ion-label {
            font-size: 14px;
            color:#6e85b4;
        }
        ion-item {
            padding: 0 !important;
            font-size: 14px;
            margin: 0;
            width: 100%;
            border-radius: 0;
            --background: #EFF3F8;
            ion-select {
                font-size: 14px;
                color:#6e85b4;
            }
        }
        .list-md {
            padding: 0 !important;
        }
    }

    
}

*{ fill:transparent !important; }
.cta-btn{
    width: -webkit-fill-available;
    padding: 0.5em 1em;
    text-align: center;
    background-color: var(--ctacolor);
    margin: 0px 10px 10px;
    color: #ffffff;
    font-size: 1.1em;
    border-radius: 0.4em;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    border-bottom: 2px solid var(--ctacolorborder);
}