<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Your Lead(s) List
    </ion-title>
    <p slot="end"><small>tektician.com</small></p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" routerLink="/leaddetails">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>
      <h2>Mark Adam</h2>
      <p>Bandar Baru Setia Awan Perdana</p>
    </ion-label>
    <ion-chip slot="end" color="tertiary">Follow Up</ion-chip>
  </ion-item>
  <ion-item lines="none" routerLink="/leaddetails">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>
      <h2>Zaya Ariffin</h2>
      <p>Setia Residen</p>
    </ion-label>
    <ion-chip slot="end" color="warning">Call Back</ion-chip>
  </ion-item>
  <ion-item lines="none" routerLink="/leaddetails">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>
      <h2>Mark Adam</h2>
      <p>Bandar Baru Setia Awan Perdana</p>
    </ion-label>
    <ion-chip slot="end" color="success">Paid Deposit</ion-chip>
  </ion-item>
  <ion-item lines="none" routerLink="/leaddetails">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>
      <h2>Mark Adam</h2>
      <p>Bandar Baru Setia Awan Perdana</p>
    </ion-label>
    <ion-chip slot="end" color="danger">Not Interested</ion-chip>
  </ion-item>
  <ion-item lines="none" routerLink="/leaddetails">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>
      <h2>Mark Adam</h2>
      <p>Bandar Baru Setia Awan Perdana</p>
    </ion-label>
    <ion-chip slot="end" color="tertiary">Follow Up</ion-chip>
  </ion-item>
  <ion-item lines="none" routerLink="/leaddetails">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>
      <h2>Zaya Ariffin</h2>
      <p>Setia Residen</p>
    </ion-label>
    <ion-chip slot="end" color="warning">Call Back</ion-chip>
  </ion-item>
  <ion-item lines="none" routerLink="/leaddetails">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>
      <h2>Mark Adam</h2>
      <p>Bandar Baru Setia Awan Perdana</p>
    </ion-label>
    <ion-chip slot="end" color="success">Paid Deposit</ion-chip>
  </ion-item>
  <ion-item lines="none" routerLink="/leaddetails">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>
      <h2>Mark Adam</h2>
      <p>Bandar Baru Setia Awan Perdana</p>
    </ion-label>
    <ion-chip slot="end" color="danger">Not Interested</ion-chip>
  </ion-item>
  

</ion-content>
