<ion-header no-border>
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile_header">
    <ion-avatar *ngIf="userInfo.image" style="position:relative">
      <img (click)="editPhoto()" src="{{userInfo.image}}" />
      <ion-icon (click)="editPhoto()" ios="ios-create" md="md-create" style="position: absolute;bottom: 14px;right: 25px;"></ion-icon>
    </ion-avatar>
    <ion-avatar *ngIf="!userInfo.image" style="position:relative">
      <img (click)="editPhoto()" src="assets/noavatar.png" />
      <ion-icon (click)="editPhoto()" ios="ios-create" md="md-create" style="position: absolute;bottom: 14px;right: 25px;"></ion-icon>
    </ion-avatar>
    <h3>{{userInfo.contact_full_name}}</h3>
    <h4>{{email}}</h4>
    <h6>{{userInfo.parent_mobile_sales_team}}</h6>
    <h6>{{userInfo.mobile_phone}}</h6>
    <ion-button [routerLink]="['/changepassword']">Change Password</ion-button>
  </div><!-- /profile_header -->

</ion-content>
