<ion-header no-border>
  <ion-toolbar [class.show-background]="showToolbar">
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile_header">
    <ion-avatar>
      <img src="https://i.pravatar.cc/150" />
    </ion-avatar>
    <h3>{{email}}</h3>
    <ion-button [routerLink]="['/changepassword']">Change Password</ion-button>
  </div><!-- /profile_header -->

</ion-content>
