<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tone_header">
    <ion-title size="small"> Ringtone Setting</ion-title>
    <ion-item>
      <ion-label>Incoming Lead Vibration</ion-label>
      <ion-toggle (ionChange)="onVibration($event)" [checked]="vibration"></ion-toggle>
    </ion-item>

    <ion-list>
      <ion-radio-group allow-empty-selection="true" (ionChange)="selectTone($event)">
        <ion-list-header>
          <ion-label>Select Tone:</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Biff</ion-label>
          <ion-radio slot="start" value="assets/ringtones/media_p_o_l_i_c_e.caf" [checked]="ring1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Griff</ion-label>
          <ion-radio slot="start" value="assets/ringtones/sound_effect.caf" [checked]="ring2"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Buford</ion-label>
          <ion-radio slot="start" value="assets/ringtones/no_more_heroes.caf" [checked]="ring3"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div><!-- /tone_header -->
  <!--
  <div class="ion-padding">
    <ion-button expand="block">
      Save Setting
    </ion-button>
  </div>
  -->
</ion-content>
